.tabla-base {
    border-collapse: collapse;
    width: 100%;
    background-color: #ecf0f1; 
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.header-tabla {
    font-size: 1.2rem;
    color: #ffffff; 
}

main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4)
    ), url('https://blog.corporacionbi.com/hubfs/2022/Blogs/Cr%C3%A9dito%20de%20autos/2.%20Seguridad%20al%20volante%20Tips%20para%20estacionar%20un%20carro.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.tabla {
    @extend .tabla-base;
    width: 80%;
    margin-top: 20px;
    
    .header-tabla {
        @extend .header-tabla;
    }
}